{% extends 'base.html.twig' %}

{% block title %} Création d'un article{% endblock %} 

{% form_theme form _self %} 

{% block body %}

<div class="container">
    <h1>Créer un nouveau article </h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}<!--afficher le champ lui meme sans titre-->
    
        <button type="submit" class="btn btn-primary">Creer l'article</button>
        <a href="{{path('articles_admin')}}" class="btn btn-danger">Annuler l'article</a>

    {{ form_end(form) }}

</div>

{% endblock body %}